.flex {
    display: flex;
}

/*seccion1*/

.seccion1 {
    height: 80vh;
    width: 100%;
    max-width: 70%;
    margin: auto;
    display: inline-flex;
    align-items: center;
}

.left {
    width: 50%;
    margin: auto;
}



.right {
    width: 50%;
    margin: auto;
}

.avatar {
    height: 80%;
    display: inline-grid;
    justify-items: center;
    position: relative;
}

.avatar img {
    width: 80%;
}

.avatar-objects {
    position: absolute;
    z-index: -1;
    width: 90% !important;
    animation: turn1 10s linear infinite;
}

@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }
}

/*seccion1 mobile*/
@media screen and (max-width:799px) {
    .seccion1 {
        height: 80vh;
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: inline-flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .seccion1 .left {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .seccion1 .right {
        width: 90% !important;
        overflow: hidden;
    }

    h1 {
        font-size: 40px !important;
    }

    .seccion1 p {
        font-size: 15px !important;
    }

    .avatar {
        height: 100% !important;
    }

    .avatar img {
        width: 80%!important;
    }
}

/*seccion2*/

.seccion2 {
    width: 70%;
    height: 100vh;
    margin: auto;
}

.info {
    width: 100%;
    align-items: center;
    text-align: center;
}

.skills {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.skills li {
    background-color: aliceblue;
    padding: 40px 40px;
    margin: 10px;
    border-radius: 25px;
    list-style-type: none;
    box-shadow: 2px 2px 20px #84848429;
}

.icon {
    padding: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    box-shadow: 0px 0px 8px 1px #0000001a;
}

@media screen and (max-width:799px) {
    .seccion2 {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .skills ul {
        display: grid;
        margin: 0;
        padding: 0;
        grid-gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .skills li {
        padding: 20px;
        margin: 10px;
        border-radius: 25px;
        list-style-type: none;
        box-shadow: 2px 2px 20px #84848429;
    }

    li p {
        font-size: 10px !important;
    }

    li h3 {
        font-size: 15px;
    }
}


/*seccion 3*/
.seccion3 {
    width: 90%;
    margin: auto;
    height: 80vh;
}

.seccion3 img {
    width: 400px;
}

.seccion3 .left {
    text-align: center;
    padding: 80px;
}

.seccion3 .right {
    padding: 80px;
}

@media screen and (max-width:799px) {


    .seccion3 {
        flex-direction: column;
        height: 100%;
        align-items: center !important;
    }

    .seccion3 .left {
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 40px 10px;
    }

    .seccion3 img {
        width: 300px;
    }
    
    .seccion3 .right {
        padding: 0px 20px 50px;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    
    .seccion3 p{
        font-size: 15px;
        color: #000;
    }
    
    .seccion3 h1 {
        margin-bottom: 20px;
    }
}