.flex {
    display: flex;
}

/*seccion1*/

.seccion1 {
    height: 80vh;
    width: 100%;
    max-width: 70%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10vh;
}

.seccion1 p {
    padding-left: 10px;
}

.left {
    width: 50%;
    margin: auto;
}



.right {
    width: 50%;
    margin: auto;
}

.avatar {
    height: 80%;
    display: inline-grid;
    justify-items: center;
    position: relative;
}

.avatar img {
    width: 80%;
}

.avatar-objects {
    position: absolute;
    z-index: -1;
    width: 90% !important;
    animation: turn1 10s linear infinite;
}

@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }
}

/*seccion1 mobile*/
@media screen and (max-width:799px) {
    .seccion1 {
        height: 80vh;
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: inline-flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .seccion1 .left {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .seccion1 .right {
        width: 90% !important;
        overflow: hidden;
    }

    h1 {
        font-size: 40px !important;
    }

    .seccion1 p {
        font-size: 15px !important;
    }

    .avatar {
        height: 100% !important;
    }

    .avatar img {
        width: 80% !important;
    }
}


.fulltext {
    height: 100%;
    width: 80%;
    margin: auto;
    display: inline-grid;
    align-content: center;
    text-align: left;
}

.fulltext p {
    font-size: 3rem;
    color: #fff;
    font-family: system-ui;
    font-weight: 300;
    line-height: 50px;
}

.subtitle {
    font-size: 22px !important;
}



.seccion-2 {
    width: 95%;
    border-radius: 15px;
    height: 90vh;
    margin: auto;
    box-shadow: none !important;

}

.seccion-2 {
    background: url(../img/gradient2.jpg);
    background-size: 150% 150%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 44%}
    20%{background-position:20% 74%}
    50%{background-position:60% 0%}
    70%{background-position:70% 88%}
    100%{background-position:0% 44%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 44%}
    20%{background-position:20% 74%}
    50%{background-position:60% 0%}
    70%{background-position:70% 88%}
    100%{background-position:0% 44%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 44%}
    20%{background-position:20% 74%}
    50%{background-position:60% 0%}
    70%{background-position:70% 88%}
    100%{background-position:0% 44%}
}
@keyframes AnimationName {
    0%{background-position:0% 44%}
    20%{background-position:20% 74%}
    50%{background-position:60% 0%}
    70%{background-position:70% 88%}
    100%{background-position:0% 44%}
}

/*seccion2*/

.seccion2 {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-bottom: 50px;
}

.info {
    width: 100%;
    align-items: center;
    text-align: center;
}

.skills {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 0;
    grid-auto-rows: minmax(100px, auto);
    color: black;
}


.skills p {
    color: black;
}


.skills li {
    background-color: whitesmoke !important;
    padding: 40px 40px;
    margin: 10px;
    border-radius: 15px;
    list-style-type: none;

}

.skills li:hover {
    box-shadow: 2px 2px 20px #84848429;
}

/* #javascript:hover{
    background: #ffeb00!important;
    box-shadow: 2px 2px 100px #ffea0089!important;
}

#html:hover{
    background: #ff5722!important;
    color: white!important;
} */


.icon {
    padding: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    color: white;
    /* box-shadow: 0px 0px 8px 1px #0000001a; */
}

@media screen and (max-width:799px) {
    .seccion2 {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .skills ul {
        display: grid;
        margin: 0;
        padding: 0;
        grid-gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .skills li {
        padding: 20px;
        margin: 10px;
        border-radius: 25px;
        list-style-type: none;
        box-shadow: 2px 2px 20px #84848429;
    }

    li p {
        font-size: 10px !important;
    }

    li h3 {
        font-size: 15px;
    }
}


/*seccion 3*/
.seccion3 {
    width: 90%;
    margin: auto;
    height: 100vh;
    color: white;
}

.seccion3 p {
    color: white;
    font-size: 20px;
}

.seccion3 img {
    width: 400px;
}

.seccion3 .left {
    text-align: center;
    padding: 80px;
}

.seccion3 .right {
    padding: 80px;
}

@media screen and (max-width:799px) {


    .seccion3 {
        flex-direction: column;
        height: 100%;
        align-items: center !important;
    }

    .seccion3 .left {
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 40px 10px;
    }

    .seccion3 img {
        width: 300px;
    }

    .seccion3 .right {
        padding: 0px 20px 50px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .seccion3 p {
        font-size: 15px;
        color: white;
    }

    .seccion3 h1 {
        margin-bottom: 20px;
    }
}

/*seccion4*/
.seccion4 {
    padding: 50px;
    height: 100%;
    padding-bottom: 50px;
}

.seccion4 img {
    width: 100%;
}


.projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.projects a {
    text-decoration: none;
    color: #000;
    padding: 30px;
    width: 100%;
}

.projects h3 {
    margin: 10px 0 10px 0;
}

.titulo {
    display: block;
    width: 73%;
    padding: 20px 20px 0px 20px;
}

.seccion4 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 0;
}

.seccion4 li {
    background: whitesmoke;
    margin: 10px;
    list-style-type: none;
    display: inline-flex;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #84848429;
}

.seccion4 li:hover {
    box-shadow: 2px 2px 20px #848484cb;
    background: white !important;
}


.tags ul {
    padding-top: 10px;
}

.tags li {
    margin: 0 10px 0 0;
    justify-content: flex-start;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    box-shadow: none;
    white-space: nowrap;
}

.tags li:hover {
    box-shadow: none;
}

.icons {
    display: inline-flex;
    justify-content: space-between;
}

/*seccion5*/

#contact {
    background: url('../img/wallpaper.jpg');
}

.seccion5 {
    color: white;
    height: 100vh;
    width: 70%;
    margin: auto;
}

.seccion5 a {
    color: white;
}



.seccion5 .icon:hover {
    background: #111111;
    box-shadow: 0px 0px 8px 1px #0258f71a;
}

.seccion5 .icon {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 8px 1px #00000000;
}

.seccion5 h1 {
    color: white;
}

.social {
    display: inline-flex;
}

.contact {
    background: white;
    border-radius: 25px;
    padding: 40px;
    color: #000;
    box-shadow: 0px 0px 8px #00000057;
}


.contact input,
textarea,
span,
form {
    width: 100%;
}

.contact input {
    border: 0;
    padding: 10px;
    width: 94%;
    border: solid 2px #ccc;
    margin: 20px 0px 20px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 8px;
    justify-content: center;
}

.contact input:focus {
    outline: none !important;
    border-color: #111111;
}

.contact textarea {
    border: 0;
    padding: 10px;
    width: 94%;
    border: solid 2px #ccc;
    margin: 20px 0 20px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 8px;
}

.contact textarea:focus {
    outline: none !important;
    border-color: #111111;
    color: #111111;
}

.contact button {
    background: black;
    color: white;
    border: 0;
    padding: 16px 40px;
    border-radius: 25px;
}

.contact button:hover {
    cursor: pointer;
}

.contact span {
    font-weight: 600;
}

input:-internal-autofill-selected {
    background-image: none !important;
    background-color: white !important;
    color: fieldtext !important;
}

input,
textarea {
    font-family: system-ui;
}