.flex {
    display: flex;
}

/*seccion1*/

.seccion1 {
    height: 80vh;
    width: 100%;
    max-width: 70%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    padding-bottom: 20vh;
}





#main {
    background: url(../img/object-background.png);
    object-fit: cover;
    background-size: 100% 100%;
}

#aboutmee {
    background: url(../img/aboutme.png);
    object-fit: cover;
    background-size: 100% 100%;
}

.seccion1 p {
    padding-left: 10px;
}

.left {
    width: 50%;
    margin: auto;
}



.right {
    width: 50%;
    margin: auto;
}

.avatar {
    height: 80%;
    display: inline-grid;
    justify-items: center;
    position: relative;
}

.avatar-noe {
    z-index: 2;
}

.avatar img {
    width: 80%;
}

.avatar-objects {
    position: absolute;
    z-index: 1;
    width: 90% !important;
    animation: turn1 10s linear infinite;
}

@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }
}

/*seccion1 mobile*/
@media screen and (max-width:799px) {
    .seccion1 {
        height: 80vh;
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: inline-flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .seccion1 .left {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .seccion1 .right {
        width: 90% !important;
        overflow: hidden;
    }

    h1 {
        font-size: 40px !important;
    }

    .seccion1 p {
        font-size: 15px !important;
    }

    .avatar {
        height: 100% !important;
    }

    .avatar img {
        width: 80% !important;
    }
}


.fulltext {
    height: 100%;
    width: 80%;
    margin: auto;
    display: inline-grid;
    align-content: center;
    text-align: left;
}

.fulltext p {
    font-size: 3rem;
    color: black;
    font-family: system-ui;
    font-weight: 300;
    line-height: 50px;
}

.subtitle {
    font-size: 22px !important;
}



.seccion-2 {
    width: 95%;
    border-radius: 15px;
    height: 90vh;
    margin: auto;
    box-shadow: none !important;

}

.seccion-2 {
    background: url(../img/gradient3.jpg);
    background-size: 110% 110%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

#aboutme{
    height: 90vh;
    padding-bottom: 0;
}
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

/*seccion2*/

#dark {
    background: url('../img/gradient4.jpg');
    background-size: 100% 100%;
    background-size: 110% 110%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 44%
    }

    20% {
        background-position: 20% 74%
    }

    50% {
        background-position: 60% 0%
    }

    70% {
        background-position: 70% 88%
    }

    100% {
        background-position: 0% 44%
    }
}

.seccion2 {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-bottom: 50px;
}

#skills {
    height: 50vh;
    align-items: center;
    margin: auto;
    display: inline-flex;
    text-align: center;
}

.myskills {
    width: 100%;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
}

.info {
    width: 100%;
    align-items: center;
    text-align: center;
}

.skills {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.skills h3 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 0;
    grid-auto-rows: minmax(100px, auto);
    color: black;
}


.skills p {
    color: black;
}


.skills li {
    background-color: white!important;
    padding: 40px 40px;
    margin: 10px;
    border-radius: 15px;
    list-style-type: none;

}

.skills li:hover {
    box-shadow: 2px 2px 20px #848484cb;
}

/* #javascript:hover{
    background: #ffeb00!important;
    box-shadow: 2px 2px 100px #ffea0089!important;
}

#html:hover{
    background: #ff5722!important;
    color: white!important;
} */


.icon {
    padding: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    color: white;
    /* box-shadow: 0px 0px 8px 1px #0000001a; */
}

@media screen and (max-width:799px) {
    .seccion2 {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .skills ul {
        display: grid;
        margin: 0;
        padding: 0;
        grid-gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .skills li {
        padding: 20px;
        margin: 10px;
        border-radius: 25px;
        list-style-type: none;
    }

    li p {
        font-size: 10px !important;
    }

    li h3 {
        font-size: 15px;
    }
}


/*seccion 3*/

#angular:hover {
    background: #cd3813!important;
    color: white;
}

#react:hover {
    background: #3a86ff !important;
    color: white;
    /* box-shadow: 10px 20px 100px rgba(44, 199, 70, 0.545); */
}

#html:hover {
    background: #fb8500 !important;
    color: white;
    /* box-shadow: 10px 20px 100px rgba(199, 44, 44, 0.545); */
}

#javascript:hover {
    background: #ffd60a !important;
    /* box-shadow: 10px 20px 100px rgba(199, 186, 44, 0.545); */
}

#css:hover {
    background: #8ecae6!important;
    /* box-shadow: 10px 20px 100px rgba(44, 165, 199, 0.545); */
}

#ionic:hover {
    background: #4586f7!important;
    color: white;
    /* box-shadow: 10px 20px 100px rgba(44, 93, 199, 0.545); */
}

.tecnos li{
    width: 10vh;
    height: 10vh;
    list-style: none;
    display: inline-grid;
    padding: 40px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    transition: color 0s, background 0.5s;
}

.tecnos i {
    font-size: 40px;
}

.seccion3 {
    width: 95%;
    margin: auto;
    height: 80vh;
    color: black;
    border-radius: 25px;
}

.seccion3 p {
    font-size: 3rem;
    color: black;
    font-family: system-ui;
    font-weight: 300;
    line-height: 50px;
}

.seccion3 img {
    width: 200px;
}

.seccion3 .left {
    text-align: start;
    padding: 80px;
    width: 70%;
    margin: auto;
}

.seccion3 .right {
    padding: 0px;
    margin: 0;
    display: inline-flex;
    width: 30%;
    align-items: flex-end;
    justify-content: center;
}

@media screen and (max-width:799px) {


    .seccion3 {
        flex-direction: column;
        height: 100%;
        align-items: center !important;
    }

    .seccion3 .left {
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 40px 10px;
    }

    .seccion3 img {
        width: 300px;
    }

    .seccion3 .right {
        padding: 0px 20px 50px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .seccion3 p {
        font-size: 15px;
        color: white;
    }

    .seccion3 h1 {
        margin-bottom: 20px;
    }
}

#my-projects {
    background: url(../img/object-gradient.png);
    object-fit: cover;
    background-size: 100% 100%;
}


/*seccion4*/
.seccion4 {
    padding: 50px;
    height: 100%;
    height: 100vh;
    display: inline-grid;
    padding-bottom: 50px;
    align-items: center;
    justify-items: center;
    align-content: center;
}


#about2 {
    background: url('../img/gradient4.jpg');
    background-size: 110% 110%;
}

.seccion4 img {
    width: 100%;
}


.projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.projects a {
    text-decoration: none;
    color: #000;
    padding: 30px;
    width: 100%;
}

.projects h3 {
    margin: 10px 0 10px 0;
}

.titulo {
    display: block;
    width: 73%;
    padding: 20px 20px 0px 20px;
}

.seccion4 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 0;
}

.seccion4 li {
    background: white;
    margin: 10px;
    list-style-type: none;
    display: inline-flex;
    border-radius: 20px;
    transition: box-shadow 0.5s, background 0.5s;
}

.seccion4 li:hover {
    box-shadow: 2px 2px 20px #848484cb;
    background: rgb(255, 255, 255) !important;
}


.tags ul {
    padding-top: 10px;
}

.tags li {
    margin: 0 10px 0 0;
    justify-content: flex-start;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    box-shadow: none;
}

.tags li:hover {
    box-shadow: none;
}

.icons {
    display: inline-flex;
    justify-content: space-between;
}

/*seccion5*/


.seccion5 {
    color: black;
    height: 100%;
    padding-top: 80px;
    width: 100%;
    margin: auto;
}

.seccion5 .left {
    background: rgb(99, 178, 253);
    background: -moz-linear-gradient(180deg, rgba(99, 178, 253, 1) 4%, rgba(99, 178, 253, 1) 16%, rgba(54, 137, 215, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(99, 178, 253, 1) 4%, rgba(99, 178, 253, 1) 16%, rgba(54, 137, 215, 1) 100%);
    background: linear-gradient(180deg, rgba(99, 178, 253, 1) 4%, rgba(99, 178, 253, 1) 16%, rgba(54, 137, 215, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b2fd", endColorstr="#3689d7", GradientType=1);
    height: 100%;
}

.seccion5 img {
    width: 20%;
}

.seccion5 a {
    color: white;
    text-decoration: none;
    display: inline-grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.seccion5 .icon:hover {
    background: #111111;
    box-shadow: 0px 0px 8px 1px #0258f71a;
}

.seccion5 .icon {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 8px 1px #00000000;
}

.seccion5 h2 {
    color: black;
    font-size: 60px;
}

.seccion5 .imagen {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}




.contact input,
textarea,
span,
form {
    width: 100%;
}

#contactme {
    width: 50%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}


input:-internal-autofill-selected {
    background-image: none !important;
    background-color: white !important;
    color: fieldtext !important;
}

input,
textarea {
    font-family: system-ui;
}

#contactme {
    padding: 80px;
    border-radius: 25px;
    width: 40%;
    margin-bottom: 20px;
}

#getintouch-container {
    background: url(../img/contactme.png);
    object-fit: cover;
    background-size: 100% 100%;
    height: 100vh;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.contact {
    padding: 20px;
    margin: 10px;
    color: #000!important;
    border-radius: 50%;
    background: transparent;
    transition: background 0.5s, color 0.5s;
}

.contact:hover {
    background: #000;
    color: white!important;
}

footer {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 10vh;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

footer a {
    text-decoration: none;
    color: #000;
}