body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background: #e8ebf2;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 30px;
}

li p {
    color: black;
    font-size: 15px;
}

.container {
    margin: auto;
    width: 100%;
}

p {
    font-size: 22px;
    color: black;
    margin: 0;
}

.button {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px 40px;
    border-radius: 50px;
    box-shadow: none;
    transition: background 0.5s, box-shadow 0.5s, color 0.5s;
}

.button:hover {
    background: #3866fa;
    color: white;
    box-shadow: -1px 20px 59px 0px #3866fa6e;
}

textarea {
    resize: none;
}